@import url('./01-colors.css');
@import url('./02-typography.css');

/*===============
    GLOBAL
  ===============*/

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: var(--text);
  font-family: 'CMU Bright', sans-serif;
  font-weight: normal;
  color: var(--dark-green);
}

body {
  min-width: 100vw;
  background-color: var(--white);
}

button {
  border: none;
}

#app {
  min-width: 100vw;
  min-height: 100vh;
}

a:link,
a:visited,
a:active {
  text-decoration: none;
}

::selection {
  background: var(--red);
  color: var(--white);
}
